/*! Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #f4f4f4;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #161616;
}

/**  HEADER **/

header {
  width: 100%;
  background-color: #1a1e1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
  padding-inline: 10.5rem;
  transition: all 0.3s ease;
}

header.active-header {
  position: sticky;
  top: 0;
  background-color: #1a1e1fe5;
}

header .header-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header .header-nav .header-items a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s ease-in;
}
header .header-nav .header-items .active-item {
  color: #003ae0;
}
header .header-nav .header-items a:hover {
  color: #003ae0;
}

/**** COVER *******/

.cover {
  background: url('../assets/images/cover.webp') no-repeat center/cover;
  height: 35.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-inline: 10.5rem;
}

.cover h3:first-child {
  font-weight: 900;
  font-size: 4.2rem;
}
.cover h3:last-child {
  font-weight: 900;
  font-size: 3.4rem;
}

/******? INTRO *******/

.intro {
  background-color: #2b2b2b;
  padding: 56px 10.5rem;
}

.intro h1 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.intro a {
  font-size: 2rem;
  color: #00aef3;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}

.intro a:hover {
  color: gray;
}

/** Courses **/

.courses-container {
  padding-inline: 10.5rem;
}

.courses-container .courses {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px 45px;
}

.courses-container .courses .course {
  border: 1px solid #555555;
  border-radius: 6px;
}

.courses-container .courses .course .text-content {
  padding-left: 22px;
}
.courses-container h6 {
  font-size: 2.4rem;
  color: #dbdbdb;
  margin-block: 3.4rem 6.7rem;
}
.courses-container .course > img {
  height: 150px;
  object-fit: cover;
  margin-bottom: 34px;
}

.courses-container .course h5 {
  font-size: 18px;
  font-weight: 700;
  color: #f4f4f4;
  margin-bottom: 25px;
}
.courses-container .course p {
  font-size: 14px;
  color: #f4f4f4;
  margin-bottom: 59px;
}

.courses-container .course .details {
  display: flex;
  align-items: flex-end;
  margin-bottom: 21px;
  gap: 10px;
}
.courses-container .course .details a {
  font-size: 16px;
  color: #00aeef;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}
.courses-container .course .details a:hover {
  color: #0986b3;
}

:focus {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
  z-index: 1;
  padding: 3px;
}
